body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#counties {
  fill: steelblue;
  fill-opacity: .7;
  stroke: #fff;
  stroke-width: 1.5px;
  pointer-events: all;
  stroke-dasharray: 3;
}
#counties path:hover {
  fill-opacity: .95;
  cursor: pointer;
  color: #666;
  stroke-dasharray: none;
  stroke-width: 4px;
}
.info {
  padding: 6px 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
