@{
    ViewBag.Title = "MapOverlayWithD3";
}
@section header {
    <link href="@Url.Content("~/Content/styles/MapOverlay.less")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/styles/jquery-ui.min.css")" rel="stylesheet" />
    <script data-main="@Url.Content("~/Content/scripts/main")" src="@Url.Content("~/Content/scripts/libs/amd/require.js")"></script>
}

<div id="applicationHost"></div>